.preview-que {
    display: flex;
    flex-direction: column;
    border: 1px solid #2d1010;
    height: 100%;
    width: 83%;
    margin: auto;
    padding: 2rem;
    background: #6f7331;
    padding-top: 4rem;
    padding-left: 6rem;
}

.question-input p{
    font-size: large;
    margin-top: 1rem;
}

.question-input .input-type{
    width: 40%;
    height: 2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.question-check-radio input{
    font-size: large;
    margin-top: 0.5rem;
    margin-right: 0.3rem;
}

.question-check-radio label{
    font-size: medium;
}

.preview-submit-btn button{
    margin-top: 2rem;
    width: 8rem;
    height: 2rem;
    background: #9fb2b2;
}